/* Background */
body {
  margin: 0;
  padding: 0;
  background: #1D4D7A;
  font: 14px "Bodoni MT", Helvetica, Arial, sans-serif;
}

/* Layout */
.topNav {
  background-color: #8FB3C7;
  border-bottom: 5px solid black;
}

.navContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  font-weight: bold;
  font-size: 48px;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: 16px;
  border-right: 5px solid black;
  padding-right: 16px;
  height: 100%;
}

.pages {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.pages a {
  font-size: clamp(1.5vw, 2vw, 0.5vw);
}

.link {
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.iconContainer {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 8px 0;
}

.iconContainer img {
  height: 70%;
  width: 70%;
}

.sideNav {
  width: 185.67px;
  overflow: hidden;
}

.sideNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.sideNavContainer.active {
  transform: translateY(0);
}

.contentContainer {
  position: absolute;
  top: 65px;
  left: 185.67px;
  right: 0;
  /* Remove the width property completely—left and right automatically size it */

  overflow-y: auto;
  overflow-x: hidden; /* Guarantees no horizontal scrolling ever */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0 25px 0;
  width: 95%; /* Drop this slightly below 100% to give it a built-in safety margin */
  max-width: 1400px;
  box-sizing: border-box;
}

.homePoster {
  width: 31%;
  max-height: 600px;
  max-width: 400px;
  height: auto;
}

.posterContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: 31%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}