body {
  margin: 0;
  padding: 0;
  background: #1D4D7A;
  font: 14px "Bodoni MT", Helvetica, Arial, sans-serif;
}

.topNav {
  background-color: #8FB3C7;
  border-bottom: 5px solid black;
}

.navContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  font-weight: bold;
  font-size: 48px;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: 16px;
  border-right: 5px solid black;
  padding-right: 16px;
  height: 100%;
}

.pages {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.iconContainer {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 8px 0;
}

.iconContainer img {
  height: 70%;
  width: 70%;
}

.sideNav {
  width: 185.67px;
}

.sideNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 636px;
  overflow: hidden;
}