extends ../movieLayout

block content
    div.contentContainer
        div.homeSection.topSection
            h1(style="font-size: 42px; text-decoration: underline") Recently Watched
            div.posterContainer
                img(src=`${recentThree[2].poster}`).homePoster
                img(src=`${recentThree[1].poster}`).homePoster
                img(src=`${recentThree[0].poster}`).homePoster
        div.homeSection
            h1(style="font-size: 42px; text-decoration: underline") The Elites
            div.posterContainer
                img(src="https://image.tmdb.org/t/p/original/ctjEj2xM32OvBXCq8zAdK3ZrsAj.jpg").homePoster
                img(src="https://image.tmdb.org/t/p/original/hop0dsM4nxyNENGhBhpJWTCJ5rS.jpg").homePoster
                img(src="https://image.tmdb.org/t/p/original/hop0dsM4nxyNENGhBhpJWTCJ5rS.jpg").homePoster
            div.titleContainer
                h1.title Latest 10
                h1.title Best of June
                h1.title Best of 2026
        div.homeSection
            h1(style="font-size: 42px; text-decoration: underline") The Duds
            div.posterContainer
                img(src="https://image.tmdb.org/t/p/original/udAxQEORq2I5wxI97N2TEqdhzBE.jpg").homePoster
                img(src="https://image.tmdb.org/t/p/original/ac2GXs7rJ7eQBKcvjRA3VDSNxA4.jpg").homePoster
                img(src="https://image.tmdb.org/t/p/original/pE6gG3VpOs1laf3tPmXuviFtSij.jpg").homePoster
            div.titleContainer
                h1.title Latest F
                h1.title Worst of June
                h1.title Worst of 2026