extends ../movieLayout

block content
    div.contentContainer
        div.homeSection.topSection
            h1(style="text-decoration: underline") Recently Watched
        div.homeSection
            h1(style="text-decoration: underline") The Elites
        div.homeSection
            h1(style="text-decoration: underline") The Duds